body {
    background-color: #ffcc99;
    font-family: Garamond;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;
}


header, footer{
    background-color: darkgreen;
    color: white;
    padding: 30px;
    font-family: 140%;
}


main{
    display: flex;
}


nav {
    background-color: mediumseagreen;
    word-spacing:90px;
    padding: 20px;
}

#left {
    width: 70%;
    
    height: 500px;
}

#right{
    background-color:  MediumSeaGreen;
    width: 30%;
    height: 500px;
    text-align: left;
}

table {
    border: dotted 1px darkgreen;
    margin:  30px auto;

}

tr, td, th {
    padding: 5px;
}
a {
    color: white;
}

li {
    list-style-type: circle;
}

tr:hover {
    background-color: darkgreen;
    color: white;
}